<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.fathens.cordova.plugin.lang.kotlin" version="1.4.1" xmlns="http://www.phonegap.com/ns/plugins/1.0">
	<name>Kotlin</name>
	<description>Cordova Plugin for Kotlin</description>
	<license>MIT</license>

	<engines>
	   <engine name="cordova-android" version=">=6.1.0" />
    </engines>

	<platform name="android">
        <hook type="after_plugin_install" src="platforms/android/hooks/after_plugin_install.rb"/>
	</platform>
</plugin>
